
<strong>Module:</strong>        User &raquo;
<strong>Controller:</strong>    User &raquo;
<strong>Action:</strong>        index

<p>
<a class="btn btn-default" href="
    <?= $this->url('User', ['action'=>'add']); ?>">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User
</a>
</p>
<table class="table table-striped">

   <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Login</th>
        <th>Role</th>
	    <th>Action</th>       
    </tr>
    
    <?php foreach ($this->user as $user): ?>
    
    <tr>
        <td><?= $this->escapeHtml($user->getId()); ?></td>
        <td>
            <a href="<?= $this->url('User', ['action'=>'view', 'id'=>$user->getId()]); ?>">
                <?= $this->escapeHtml($user->getEmail()); ?>
            </a> 
        </td>
        <td><?= $this->escapeHtml($user->getLogin()); ?></td>
        <td><?= $this->escapeHtml($user->getRole()->getName()); ?></td>
        <td>
        
            <a class="btn btn-info" href="<?= $this->url('User', 
                    ['action'=>'edit', 'id'=>$user->getId()]); ?>">
                <span class="glyphicon glyphicon-pencil" ></span> Edit
            </a>

        </td>    
    </tr>
        
    <?php endforeach; ?>   
    
</table>
