<div class="row">
    <div class="col-sm-12">
        <h1>Junior Web developer testing application</h1>
        <table class="table table-striped">

   <tr>
        <th>Role</th>
        <th>Resource</th>
        <th>Permissions</th>       
    </tr>
    

  
        <tr>
        <td>Guest</td>
        <td>
            Home, User, Auth
        </td>
        <td>Home[Index], User[Register], Auth[Login, Logout]</td>
 
    </tr>

    <tr>
        <td>Employee</td>
        <td>
            User
        </td>
        <td>User[Index]</td>
 
    </tr>

    <tr>
        <td>Admin</td>
        <td>
            User,Acl
        </td>
        <td>User[Edit], Acl[Index]</td>
 
    </tr>
          
    <tr>
        <td>Owner</td>
        <td>
            User
        </td>
        <td>User[Add](new child user)</td>
 
    </tr>

    
</table>
<p>* - Кожна роль наслідується від попередньої</p>
    </div>
    <div class="w-100"></div>

</div>
